<div class="profile">
  <div class="profile-photo-container">
    <a href="/">
      <img src="{{ site.data.author.photo_url }}" alt="profile picture" class="img-circle profile-photo" />
    </a>
  </div>
  <div class="profile-name">{{ site.data.author.name }}</div>
  <div class="profile-one-liner">
    <small>Trying to figure out the next step.</small>
  </div>
  <ul class="social list-inline">
    <li>
      <a target="_blank" href="//github.com/{{ site.data.author.github }}" class="social-btn fa fa-github fa-2x"></a>
    </li>
    <li>
      <a target="_blank" href="//ca.linkedin.com/in/{{ site.data.author.linked_in }}" class="social-btn fa fa-linkedin-square fa-2x"></a>
    </li>
    <li>
      <a target="_blank" href="//facebook.com/{{ site.data.author.facebook }}" class="social-btn fa fa-facebook-square fa-2x"></a>
    </li>
    <li>
      <a target="_blank" href="//twitter.com/{{ site.data.author.twitter }}" class="social-btn fa fa-twitter-square fa-2x"></a>
    </li>
    <li>
      <a target="_blank" href="//plus.google.com/{{ site.data.author.google_plus }}" class="social-btn fa fa-google-plus-square fa-2x"></a>
    </li>
  </ul>
</div>
